html {
	font-size: 14px;
	background: #eee;
}

body {
	min-width: 600px;
}

body:not(.popup) {
	margin: auto;
	max-width: 1000px;
	min-height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	margin-bottom: .5rem;
}

.header h3 {
	font-weight: 100;
	text-transform: uppercase;
	margin-bottom: 0;
}

.carrier-icon {
	height: 2rem;
	width: 2rem;
	object-fit: contain;
}

.table td, .table th {
	vertical-align: middle;
	white-space: nowrap;
}

.col-min {
	width: 1%;
}

.na {
	opacity: .45;
	font-style: italic;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-menu {
	font-size: .85rem;
	padding: .25rem 0;
}

.dropdown-item {
	cursor: pointer;
	padding: .125rem 1rem;
}

.no-tracks {
	background: #eee;
	text-align: center;
	padding: .5rem;
	font-style: italic;
}

.modal-header {
	font-weight: 100;
	font-size: 1.25rem;
}

.tracks tr.flash {
	background: #d4edda;
}

.tracks tr:not(.flash) {
	transition: background 1s;
}

.tracks tr.loading {
	background-image: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, .05) 50%);
	background-size: 200% 100%;
	animation: loading 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.tracks tr.loading td {
	opacity: .45;
	pointer-events: none;
}

@keyframes loading {

	0% {
		background-position: 0;
	}

	50% {
		background-position: -30%;
	}

	80% {
		background-position: -100%;
	}

	100% {
		background-position: -200%;
	}
}